.add-product form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    
}
.add-product input,textarea{
    margin: 5px;
}
.griddisplay{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 25px;
}